@layer reset, base, tokens, recipes, utilities;

@layer reset{
  html,:host {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: var(--global-font-body, var(--font-fallback));
    -webkit-tap-highlight-color: transparent;
}

  *,::before,::after,::backdrop,::file-selector-button {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentcolor);
    box-sizing: border-box;
}

  hr {
    color: inherit;
    height: 0px;
    border-top-width: 1px;
}

  body {
    line-height: inherit;
    height: 100%;
}

  img {
    border-style: none;
}

  img,svg,video,canvas,audio,iframe,embed,object {
    display: block;
    vertical-align: middle;
}

  img,video {
    max-width: 100%;
    height: auto;
}

  h1,h2,h3,h4,h5,h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
}

  p,h1,h2,h3,h4,h5,h6 {
    overflow-wrap: break-word;
}

  ol,ul,menu {
    list-style: none;
}

  button,input:where([type='button'], [type='reset'], [type='submit']),::file-selector-button {
    appearance: button;
    -webkit-appearance: button;
}

  button,input,optgroup,select,textarea,::file-selector-button {
    font: inherit;
    background: var(--colors-transparent);
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
}

  ::placeholder {
    --placeholder-fallback: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: var(--global-color-placeholder, var(--placeholder-fallback));
}

  @supports (not (-webkit-appearance: -apple-pay-button)) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      --placeholder-fallback: color-mix(in oklab, currentcolor 50%, transparent);
}
}

  ::selection {
    background-color: var(--global-color-selection, rgba(0, 115, 255, 0.3));
}

  textarea {
    resize: vertical;
}

  table {
    border-color: inherit;
    text-indent: 0px;
    border-collapse: collapse;
}

  summary {
    display: list-item;
}

  small {
    font-size: 80%;
}

  sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

  sub {
    bottom: -0.25em;
}

  sup {
    top: -0.5em;
}

  dialog {
    padding: 0px;
}

  a {
    text-decoration: inherit;
    color: inherit;
}

  abbr:where([title]) {
    text-decoration: underline dotted;
}

  b,strong {
    font-weight: bolder;
}

  code,kbd,samp,pre {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

  progress {
    vertical-align: baseline;
}

  ::-webkit-search-decoration,::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

  ::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto;
}

  :-moz-ui-invalid {
    box-shadow: none;
}

  :-moz-focusring {
    outline: auto;
}

  [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
}
}

@layer base{
  :root {
    --made-with-panda: '🐼';
}

  body {
    background: var(--colors-black);
    font-family: var(--fonts-body);
}

  a {
    text-decoration: none;
    color: inherit;
}

  button {
    -webkit-tap-highlight-color: transparent;
}

  *,::before,::after,::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
}
}

@layer tokens{
  :where(:root, :host) {
    --aspect-ratios-square: 1 / 1;
    --aspect-ratios-landscape: 4 / 3;
    --aspect-ratios-portrait: 3 / 4;
    --aspect-ratios-wide: 16 / 9;
    --aspect-ratios-ultrawide: 18 / 5;
    --aspect-ratios-golden: 1.618 / 1;
    --borders-none: none;
    --easings-default: cubic-bezier(0.4, 0, 0.2, 1);
    --easings-linear: linear;
    --easings-in: cubic-bezier(0.4, 0, 1, 1);
    --easings-out: cubic-bezier(0, 0, 0.2, 1);
    --easings-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --durations-fastest: 50ms;
    --durations-faster: 100ms;
    --durations-fast: 150ms;
    --durations-normal: 200ms;
    --durations-slow: 300ms;
    --durations-slower: 400ms;
    --durations-slowest: 500ms;
    --radii-xs: 0.125rem;
    --radii-sm: 0.25rem;
    --radii-md: 0.375rem;
    --radii-lg: 0.5rem;
    --radii-xl: 0.75rem;
    --radii-2xl: 1rem;
    --radii-3xl: 1.5rem;
    --radii-4xl: 2rem;
    --radii-full: 9999px;
    --font-weights-thin: 100;
    --font-weights-extralight: 200;
    --font-weights-light: 300;
    --font-weights-normal: 400;
    --font-weights-medium: 500;
    --font-weights-semibold: 600;
    --font-weights-bold: 700;
    --font-weights-extrabold: 800;
    --font-weights-black: 900;
    --line-heights-none: 1;
    --line-heights-tight: 1.25;
    --line-heights-snug: 1.375;
    --line-heights-normal: 1.5;
    --line-heights-relaxed: 1.625;
    --line-heights-loose: 2;
    --letter-spacings-tighter: -0.05em;
    --letter-spacings-tight: -0.025em;
    --letter-spacings-normal: 0em;
    --letter-spacings-wide: 0.025em;
    --letter-spacings-wider: 0.05em;
    --letter-spacings-widest: 0.1em;
    --font-sizes-2xs: 0.5rem;
    --font-sizes-xs: 0.75rem;
    --font-sizes-sm: 0.875rem;
    --font-sizes-md: 1rem;
    --font-sizes-lg: 1.125rem;
    --font-sizes-xl: 1.25rem;
    --font-sizes-2xl: 1.5rem;
    --font-sizes-3xl: 1.875rem;
    --font-sizes-4xl: 2.25rem;
    --font-sizes-5xl: 3rem;
    --font-sizes-6xl: 3.75rem;
    --font-sizes-7xl: 4.5rem;
    --font-sizes-8xl: 6rem;
    --font-sizes-9xl: 8rem;
    --shadows-2xs: 0 1px rgb(0 0 0 / 0.05);
    --shadows-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadows-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadows-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadows-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadows-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadows-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --shadows-inset-2xs: inset 0 1px rgb(0 0 0 / 0.05);
    --shadows-inset-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
    --shadows-inset-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);
    --colors-current: currentColor;
    --colors-black: #000;
    --colors-white: #fff;
    --colors-transparent: rgb(0 0 0 / 0);
    --colors-rose-50: #fff1f2;
    --colors-rose-100: #ffe4e6;
    --colors-rose-200: #fecdd3;
    --colors-rose-300: #fda4af;
    --colors-rose-400: #fb7185;
    --colors-rose-500: #f43f5e;
    --colors-rose-600: #e11d48;
    --colors-rose-700: #be123c;
    --colors-rose-800: #9f1239;
    --colors-rose-900: #881337;
    --colors-rose-950: #4c0519;
    --colors-pink-50: #fdf2f8;
    --colors-pink-100: #fce7f3;
    --colors-pink-200: #fbcfe8;
    --colors-pink-300: #f9a8d4;
    --colors-pink-400: #f472b6;
    --colors-pink-500: #ec4899;
    --colors-pink-600: #db2777;
    --colors-pink-700: #be185d;
    --colors-pink-800: #9d174d;
    --colors-pink-900: #831843;
    --colors-pink-950: #500724;
    --colors-fuchsia-50: #fdf4ff;
    --colors-fuchsia-100: #fae8ff;
    --colors-fuchsia-200: #f5d0fe;
    --colors-fuchsia-300: #f0abfc;
    --colors-fuchsia-400: #e879f9;
    --colors-fuchsia-500: #d946ef;
    --colors-fuchsia-600: #c026d3;
    --colors-fuchsia-700: #a21caf;
    --colors-fuchsia-800: #86198f;
    --colors-fuchsia-900: #701a75;
    --colors-fuchsia-950: #4a044e;
    --colors-purple-50: #faf5ff;
    --colors-purple-100: #f3e8ff;
    --colors-purple-200: #e9d5ff;
    --colors-purple-300: #d8b4fe;
    --colors-purple-400: #c084fc;
    --colors-purple-500: #a855f7;
    --colors-purple-600: #9333ea;
    --colors-purple-700: #7e22ce;
    --colors-purple-800: #6b21a8;
    --colors-purple-900: #581c87;
    --colors-purple-950: #3b0764;
    --colors-violet-50: #f5f3ff;
    --colors-violet-100: #ede9fe;
    --colors-violet-200: #ddd6fe;
    --colors-violet-300: #c4b5fd;
    --colors-violet-400: #a78bfa;
    --colors-violet-500: #8b5cf6;
    --colors-violet-600: #7c3aed;
    --colors-violet-700: #6d28d9;
    --colors-violet-800: #5b21b6;
    --colors-violet-900: #4c1d95;
    --colors-violet-950: #2e1065;
    --colors-indigo-50: #eef2ff;
    --colors-indigo-100: #e0e7ff;
    --colors-indigo-200: #c7d2fe;
    --colors-indigo-300: #a5b4fc;
    --colors-indigo-400: #818cf8;
    --colors-indigo-500: #6366f1;
    --colors-indigo-600: #4f46e5;
    --colors-indigo-700: #4338ca;
    --colors-indigo-800: #3730a3;
    --colors-indigo-900: #312e81;
    --colors-indigo-950: #1e1b4b;
    --colors-blue-50: #eff6ff;
    --colors-blue-100: #dbeafe;
    --colors-blue-200: #bfdbfe;
    --colors-blue-300: #93c5fd;
    --colors-blue-400: #60a5fa;
    --colors-blue-500: #3b82f6;
    --colors-blue-600: #2563eb;
    --colors-blue-700: #1d4ed8;
    --colors-blue-800: #1e40af;
    --colors-blue-900: #1e3a8a;
    --colors-blue-950: #172554;
    --colors-sky-50: #f0f9ff;
    --colors-sky-100: #e0f2fe;
    --colors-sky-200: #bae6fd;
    --colors-sky-300: #7dd3fc;
    --colors-sky-400: #38bdf8;
    --colors-sky-500: #0ea5e9;
    --colors-sky-600: #0284c7;
    --colors-sky-700: #0369a1;
    --colors-sky-800: #075985;
    --colors-sky-900: #0c4a6e;
    --colors-sky-950: #082f49;
    --colors-cyan-50: #ecfeff;
    --colors-cyan-100: #cffafe;
    --colors-cyan-200: #a5f3fc;
    --colors-cyan-300: #67e8f9;
    --colors-cyan-400: #22d3ee;
    --colors-cyan-500: #06b6d4;
    --colors-cyan-600: #0891b2;
    --colors-cyan-700: #0e7490;
    --colors-cyan-800: #155e75;
    --colors-cyan-900: #164e63;
    --colors-cyan-950: #083344;
    --colors-teal-50: #f0fdfa;
    --colors-teal-100: #ccfbf1;
    --colors-teal-200: #99f6e4;
    --colors-teal-300: #5eead4;
    --colors-teal-400: #2dd4bf;
    --colors-teal-500: #14b8a6;
    --colors-teal-600: #0d9488;
    --colors-teal-700: #0f766e;
    --colors-teal-800: #115e59;
    --colors-teal-900: #134e4a;
    --colors-teal-950: #042f2e;
    --colors-emerald-50: #ecfdf5;
    --colors-emerald-100: #d1fae5;
    --colors-emerald-200: #a7f3d0;
    --colors-emerald-300: #6ee7b7;
    --colors-emerald-400: #34d399;
    --colors-emerald-500: #10b981;
    --colors-emerald-600: #059669;
    --colors-emerald-700: #047857;
    --colors-emerald-800: #065f46;
    --colors-emerald-900: #064e3b;
    --colors-emerald-950: #022c22;
    --colors-green-50: #f0fdf4;
    --colors-green-100: #dcfce7;
    --colors-green-200: #bbf7d0;
    --colors-green-300: #86efac;
    --colors-green-400: #4ade80;
    --colors-green-500: #22c55e;
    --colors-green-600: #16a34a;
    --colors-green-700: #15803d;
    --colors-green-800: #166534;
    --colors-green-900: #14532d;
    --colors-green-950: #052e16;
    --colors-lime-50: #f7fee7;
    --colors-lime-100: #ecfccb;
    --colors-lime-200: #d9f99d;
    --colors-lime-300: #bef264;
    --colors-lime-400: #a3e635;
    --colors-lime-500: #84cc16;
    --colors-lime-600: #65a30d;
    --colors-lime-700: #4d7c0f;
    --colors-lime-800: #3f6212;
    --colors-lime-900: #365314;
    --colors-lime-950: #1a2e05;
    --colors-yellow-50: #fefce8;
    --colors-yellow-100: #fef9c3;
    --colors-yellow-200: #fef08a;
    --colors-yellow-300: #fde047;
    --colors-yellow-400: #facc15;
    --colors-yellow-500: #eab308;
    --colors-yellow-600: #ca8a04;
    --colors-yellow-700: #a16207;
    --colors-yellow-800: #854d0e;
    --colors-yellow-900: #713f12;
    --colors-yellow-950: #422006;
    --colors-amber-50: #fffbeb;
    --colors-amber-100: #fef3c7;
    --colors-amber-200: #fde68a;
    --colors-amber-300: #fcd34d;
    --colors-amber-400: #fbbf24;
    --colors-amber-500: #f59e0b;
    --colors-amber-600: #d97706;
    --colors-amber-700: #b45309;
    --colors-amber-800: #92400e;
    --colors-amber-900: #78350f;
    --colors-amber-950: #451a03;
    --colors-orange-50: #fff7ed;
    --colors-orange-100: #ffedd5;
    --colors-orange-200: #fed7aa;
    --colors-orange-300: #fdba74;
    --colors-orange-400: #fb923c;
    --colors-orange-500: #f97316;
    --colors-orange-600: #ea580c;
    --colors-orange-700: #c2410c;
    --colors-orange-800: #9a3412;
    --colors-orange-900: #7c2d12;
    --colors-orange-950: #431407;
    --colors-red-50: #fef2f2;
    --colors-red-100: #fee2e2;
    --colors-red-200: #fecaca;
    --colors-red-300: #fca5a5;
    --colors-red-400: #f87171;
    --colors-red-500: #ef4444;
    --colors-red-600: #dc2626;
    --colors-red-700: #b91c1c;
    --colors-red-800: #991b1b;
    --colors-red-900: #7f1d1d;
    --colors-red-950: #450a0a;
    --colors-neutral-50: #fafafa;
    --colors-neutral-100: #f5f5f5;
    --colors-neutral-200: #e5e5e5;
    --colors-neutral-300: #d4d4d4;
    --colors-neutral-400: #a3a3a3;
    --colors-neutral-500: #737373;
    --colors-neutral-600: #525252;
    --colors-neutral-700: #404040;
    --colors-neutral-800: #262626;
    --colors-neutral-900: #171717;
    --colors-neutral-950: #0a0a0a;
    --colors-stone-50: #fafaf9;
    --colors-stone-100: #f5f5f4;
    --colors-stone-200: #e7e5e4;
    --colors-stone-300: #d6d3d1;
    --colors-stone-400: #a8a29e;
    --colors-stone-500: #78716c;
    --colors-stone-600: #57534e;
    --colors-stone-700: #44403c;
    --colors-stone-800: #292524;
    --colors-stone-900: #1c1917;
    --colors-stone-950: #0c0a09;
    --colors-zinc-50: #fafafa;
    --colors-zinc-100: #f4f4f5;
    --colors-zinc-200: #e4e4e7;
    --colors-zinc-300: #d4d4d8;
    --colors-zinc-400: #a1a1aa;
    --colors-zinc-500: #71717a;
    --colors-zinc-600: #52525b;
    --colors-zinc-700: #3f3f46;
    --colors-zinc-800: #27272a;
    --colors-zinc-900: #18181b;
    --colors-zinc-950: #09090b;
    --colors-gray-50: #f9fafb;
    --colors-gray-100: #f3f4f6;
    --colors-gray-200: #e5e7eb;
    --colors-gray-300: #d1d5db;
    --colors-gray-400: #9ca3af;
    --colors-gray-500: #6b7280;
    --colors-gray-600: #4b5563;
    --colors-gray-700: #374151;
    --colors-gray-800: #1f2937;
    --colors-gray-900: #111827;
    --colors-gray-950: #030712;
    --colors-slate-50: #f8fafc;
    --colors-slate-100: #f1f5f9;
    --colors-slate-200: #e2e8f0;
    --colors-slate-300: #cbd5e1;
    --colors-slate-400: #94a3b8;
    --colors-slate-500: #64748b;
    --colors-slate-600: #475569;
    --colors-slate-700: #334155;
    --colors-slate-800: #1e293b;
    --colors-slate-900: #0f172a;
    --colors-slate-950: #020617;
    --blurs-xs: 4px;
    --blurs-sm: 8px;
    --blurs-md: 12px;
    --blurs-lg: 16px;
    --blurs-xl: 24px;
    --blurs-2xl: 40px;
    --blurs-3xl: 64px;
    --spacing-0: 0rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;
    --spacing-0\.5: 0.125rem;
    --spacing-1\.5: 0.375rem;
    --spacing-2\.5: 0.625rem;
    --spacing-3\.5: 0.875rem;
    --spacing-4\.5: 1.125rem;
    --spacing-5\.5: 1.375rem;
    --animations-spin: spin 1s linear infinite;
    --animations-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    --animations-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animations-bounce: bounce 1s infinite;
    --sizes-0: 0rem;
    --sizes-1: 0.25rem;
    --sizes-2: 0.5rem;
    --sizes-3: 0.75rem;
    --sizes-4: 1rem;
    --sizes-5: 1.25rem;
    --sizes-6: 1.5rem;
    --sizes-7: 1.75rem;
    --sizes-8: 2rem;
    --sizes-9: 2.25rem;
    --sizes-10: 2.5rem;
    --sizes-11: 2.75rem;
    --sizes-12: 3rem;
    --sizes-14: 3.5rem;
    --sizes-16: 4rem;
    --sizes-20: 5rem;
    --sizes-24: 6rem;
    --sizes-28: 7rem;
    --sizes-32: 8rem;
    --sizes-36: 9rem;
    --sizes-40: 10rem;
    --sizes-44: 11rem;
    --sizes-48: 12rem;
    --sizes-52: 13rem;
    --sizes-56: 14rem;
    --sizes-60: 15rem;
    --sizes-64: 16rem;
    --sizes-72: 18rem;
    --sizes-80: 20rem;
    --sizes-96: 24rem;
    --sizes-0\.5: 0.125rem;
    --sizes-1\.5: 0.375rem;
    --sizes-2\.5: 0.625rem;
    --sizes-3\.5: 0.875rem;
    --sizes-4\.5: 1.125rem;
    --sizes-5\.5: 1.375rem;
    --sizes-xs: 20rem;
    --sizes-sm: 24rem;
    --sizes-md: 28rem;
    --sizes-lg: 32rem;
    --sizes-xl: 36rem;
    --sizes-2xl: 42rem;
    --sizes-3xl: 48rem;
    --sizes-4xl: 56rem;
    --sizes-5xl: 64rem;
    --sizes-6xl: 72rem;
    --sizes-7xl: 80rem;
    --sizes-8xl: 90rem;
    --sizes-prose: 65ch;
    --sizes-full: 100%;
    --sizes-min: min-content;
    --sizes-max: max-content;
    --sizes-fit: fit-content;
    --sizes-section: 1080px;
    --sizes-width-section: 1080px;
    --sizes-container-xl: 1280px;
    --sizes-breakpoint-sm: 30em;
    --sizes-breakpoint-md: 48em;
    --sizes-breakpoint-lg: 62em;
    --sizes-breakpoint-xl: 80em;
    --sizes-breakpoint-2xl: 96em;
    --fonts-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fonts-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --fonts-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --fonts-body: "xingothic-tc", "Noto Sans TC", sans-serif;
    --breakpoints-sm: 30em;
    --breakpoints-md: 48em;
    --breakpoints-lg: 62em;
    --breakpoints-xl: 80em;
    --breakpoints-2xl: 96em;
}

  @keyframes ping {
    75%,100% {
      transform: scale(2);
      opacity: 0;
}
}

  @keyframes pulse {
    50% {
      opacity: 0.5;
}
}

  @keyframes bounce {
    0%,100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
}

    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
}
}

  @keyframes spin {
    from {
      transform: rotate(0deg);
}

    to {
      transform: rotate(360deg);
}
}
}

@layer utilities{

  .\--thickness_1px {
    --thickness: 1px;
}

  .bd_2px_solid_\#df8a42 {
    border: 2px solid #df8a42;
}

  .anim_spin_infinite_15s_linear {
    animation: spin infinite 15s linear;
}

  .m_20px {
    margin: 20px;
}

  .bg_linear-gradient\(45deg\,_\#f09433_0\%\,\#e6683c_25\%\,\#dc2743_50\%\,\#cc2366_75\%\,\#bc1888_100\%\) {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

  .bd_1px_solid_white {
    border: 1px solid white;
}

  .bg_white {
    background: var(--colors-white);
}

  .bg_black {
    background: var(--colors-black);
}

  .bg_rgba\(245\,_200\,_161\,_0\.1\) {
    background: rgba(245, 200, 161, 0.1);
}

  .bd_2px_solid_rgba\(223\,_138\,_66\,_0\.2\) {
    border: 2px solid rgba(223, 138, 66, 0.2);
}

  .bd_3px_solid {
    border: 3px solid;
}

  .bg_rgba\(255\,_255\,_255\,_0\.9\) {
    background: rgba(255, 255, 255, 0.9);
}

  .bg_\#df8a42 {
    background: #df8a42;
}

  .bd_2px_solid {
    border: 2px solid;
}

  .m_0_auto {
    margin: 0 auto;
}

  .p_2px_4px {
    padding: 2px 4px;
}

  .bd_1px_solid_rgba\(255\,_255\,_255\,_0\.1\) {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

  .p_4 {
    padding: var(--spacing-4);
}

  .p_3 {
    padding: var(--spacing-3);
}

  .bg_blue\.500 {
    background: var(--colors-blue-500);
}

  .m_0 {
    margin: var(--spacing-0);
}

  .bg_gray\.800 {
    background: var(--colors-gray-800);
}

  .m_30px_20px {
    margin: 30px 20px;
}

  .anim_spin_infinite_15s_linear_reverse {
    animation: spin infinite 15s linear reverse;
}

  .bg_linear-gradient\(to_bottom\,rgb\(0\,_0\,_0\)_0\%\,rgb\(130\,_186\,_255\)_100\%\) {
    background: linear-gradient(to bottom,rgb(0, 0, 0) 0%,rgb(130, 186, 255) 100%);
}

  .bd_2px_solid_white {
    border: 2px solid white;
}

  .bg_rgba\(100\,_100\,_100\,_0\.5\) {
    background: rgba(100, 100, 100, 0.5);
}

  .bd_0 {
    border: 0;
}

  .bg_transparent {
    background: var(--colors-transparent);
}

  .bd_1px_solid_rgba\(255\,_255\,_255\,_0\.8\) {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

  .bg_red\.600 {
    background: var(--colors-red-600);
}

  .bd_4px_solid_rgba\(156\,_163\,_175\,_0\.35\) {
    border: 4px solid rgba(156, 163, 175, 0.35);
}

  .anim_spin_0\.8s_linear_infinite {
    animation: spin 0.8s linear infinite;
}

  .bg_red\.500 {
    background: var(--colors-red-500);
}

  .bg_gray\.600 {
    background: var(--colors-gray-600);
}

  .inset_0 {
    inset: var(--spacing-0);
}

  .bg_rgba\(0\,_0\,_0\,_0\.55\) {
    background: rgba(0, 0, 0, 0.55);
}

  .bg_rgba\(0\,_0\,_0\,_0\.7\) {
    background: rgba(0, 0, 0, 0.7);
}

  .p_1rem {
    padding: 1rem;
}

  .bdr_full {
    border-radius: var(--radii-full);
}

  .ov_hidden {
    overflow: hidden;
}

  .bd-l_2px_solid_\#df8a42 {
    border-left: 2px solid #df8a42;
}

  .py_1 {
    padding-block: var(--spacing-1);
}

  .mx_auto {
    margin-inline: auto;
}

  .px_24px {
    padding-inline: 24px;
}

  .gap_5 {
    gap: var(--spacing-5);
}

  .gap_14 {
    gap: var(--spacing-14);
}

  .gap_3 {
    gap: var(--spacing-3);
}

  .gap_6 {
    gap: var(--spacing-6);
}

  .trs_opacity_1\.5s_ease-in-out {
    transition: opacity 1.5s ease-in-out;
}

  .my_20px {
    margin-block: 20px;
}

  .bd-t_1px_solid_white {
    border-top: 1px solid white;
}

  .bd-b_1px_solid_white {
    border-bottom: 1px solid white;
}

  .gap_15px {
    gap: 15px;
}

  .px_4 {
    padding-inline: var(--spacing-4);
}

  .py_8 {
    padding-block: var(--spacing-8);
}

  .gap_8 {
    gap: var(--spacing-8);
}

  .trs_all_0\.2s {
    transition: all 0.2s;
}

  .py_100px {
    padding-block: 100px;
}

  .px_20px {
    padding-inline: 20px;
}

  .bdr_lg {
    border-radius: var(--radii-lg);
}

  .gap_4 {
    gap: var(--spacing-4);
}

  .bd-b_1px_solid {
    border-bottom: 1px solid;
}

  .bd-c_rgba\(255\,_255\,_255\,_0\.24\) {
    border-color: rgba(255, 255, 255, 0.24);
}

  .bd-b_none {
    border-bottom: var(--borders-none);
}

  .bd-c_white {
    border-color: var(--colors-white);
}

  .px_5px {
    padding-inline: 5px;
}

  .bd-c_gray\.800 {
    border-color: var(--colors-gray-800);
}

  .bdr_16px {
    border-radius: 16px;
}

  .trs_all_0\.3s_ease {
    transition: all 0.3s ease;
}

  .bd-c_\#df8a42 {
    border-color: #df8a42;
}

  .bd-c_rgba\(223\,_138\,_66\,_0\.3\) {
    border-color: rgba(223, 138, 66, 0.3);
}

  .bdr_12px {
    border-radius: 12px;
}

  .py_40px {
    padding-block: 40px;
}

  .my_10px {
    margin-block: 10px;
}

  .flex_1 {
    flex: 1 1 0%;
}

  .bd-c_\#f5c8a1 {
    border-color: #f5c8a1;
}

  .mx_20px {
    margin-inline: 20px;
}

  .bdr_4px {
    border-radius: 4px;
}

  .gap_2 {
    gap: var(--spacing-2);
}

  .gap_0 {
    gap: var(--spacing-0);
}

  .gap_1 {
    gap: var(--spacing-1);
}

  .gap_8px {
    gap: 8px;
}

  .bd-c_rgba\(255\,_255\,_255\,_0\.1\) {
    border-color: rgba(255, 255, 255, 0.1);
}

  .trs_opacity_1\.5s_ease-in-out\,_transform_2s_ease-in-out {
    transition: opacity 1.5s ease-in-out, transform 2s ease-in-out;
}

  .bd-w_2px {
    border-width: 2px;
}

  .bdr_50\%_50\%_50\%_50\%_\/_60\%_60\%_40\%_40\% {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

  .bdr_50\% {
    border-radius: 50%;
}

  .gap_0\.5rem {
    gap: 0.5rem;
}

  .bdr_100px {
    border-radius: 100px;
}

  .trs_filter_\.2s\,_background-color_\.2s\,_color_\.2s\,_border-color_\.2s {
    transition: filter .2s, background-color .2s, color .2s, border-color .2s;
}

  .px_1rem {
    padding-inline: 1rem;
}

  .bd-c_blue\.300 {
    border-color: var(--colors-blue-300);
}

  .px_0\.75rem {
    padding-inline: 0.75rem;
}

  .bdr_9999px {
    border-radius: 9999px;
}

  .trs_background-color_\.2s\,_filter_\.2s {
    transition: background-color .2s, filter .2s;
}

  .trs_background-color_\.2s {
    transition: background-color .2s;
}

  .trs_transform_\.2s {
    transition: transform .2s;
}

  .duration_0\.6 {
    duration: 0.6px;
}

  .ease_easeOut {
    ease: easeOut;
}

  .duration_0\.8 {
    duration: 0.8px;
}

  .fs_lg {
    font-size: var(--font-sizes-lg);
}

  .c_\#df8a42 {
    color: #df8a42;
}

  .ls_0\.05em {
    letter-spacing: 0.05em;
}

  .fs_3xl {
    font-size: var(--font-sizes-3xl);
}

  .fs_md {
    font-size: var(--font-sizes-md);
}

  .lh_1\.9 {
    line-height: 1.9;
}

  .op_0\.92 {
    opacity: 0.92;
}

  .bg-c_black {
    background-color: var(--colors-black);
}

  .c_white {
    color: var(--colors-white);
}

  .size_110px {
    width: 110px;
    height: 110px;
}

  .pos_relative {
    position: relative;
}

  .d_flex {
    display: flex;
}

  .ai_center {
    align-items: center;
}

  .flex-d_column {
    flex-direction: column;
}

  .ta_center {
    text-align: center;
}

  .ai_start {
    align-items: start;
}

  .fw_medium {
    font-weight: var(--font-weights-medium);
}

  .c_\#f5c8a1 {
    color: #f5c8a1;
}

  .fw_bold {
    font-weight: var(--font-weights-bold);
}

  .fs_sm {
    font-size: var(--font-sizes-sm);
}

  .op_0\.85 {
    opacity: 0.85;
}

  .lh_1\.8 {
    line-height: 1.8;
}

  .d_grid {
    display: grid;
}

  .grid-tc_repeat\(1\,_minmax\(0\,_1fr\)\) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

  .op_1 {
    opacity: 1;
}

  .op_0 {
    opacity: 0;
}

  .pos_absolute {
    position: absolute;
}

  .fs_30 {
    font-size: 30px;
}

  .fill_true {
    fill: true;
}

  .jc_center {
    justify-content: center;
}

  .z_tooltip {
    z-index: tooltip;
}

  .fw_700 {
    font-weight: 700;
}

  .bg-c_\#FF574D {
    background-color: #FF574D;
}

  .bkdp_blur\(10px\) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

  .bg-c_rgba\(50\,_50\,_50\,_0\.5\) {
    background-color: rgba(50, 50, 50, 0.5);
}

  .fs_2\.25rem {
    font-size: 2.25rem;
}

  .lh_1\.1 {
    line-height: 1.1;
}

  .fs_1\.25rem {
    font-size: 1.25rem;
}

  .fs_xl {
    font-size: var(--font-sizes-xl);
}

  .c_gray\.600 {
    color: var(--colors-gray-600);
}

  .cursor_pointer {
    cursor: pointer;
}

  .cursor_url\(\'https\:\/\/images\.plurk\.com\/i4BLwuGEg7v4dgyVOufB7\.gif\'\)\,_default {
    cursor: url('https://images.plurk.com/i4BLwuGEg7v4dgyVOufB7.gif'), default;
}

  .color-scheme_whiteAlpha {
    color-scheme: whiteAlpha;
}

  .bx-sh_xl {
    box-shadow: var(--shadows-xl);
}

  .d_inline-flex {
    display: inline-flex;
}

  .c_blue\.500 {
    color: var(--colors-blue-500);
}

  .pos_fixed {
    position: fixed;
}

  .z_10 {
    z-index: 10;
}

  .bg-c_rgba\(22\,_22\,_23\,_0\.8\) {
    background-color: rgba(22, 22, 23, 0.8);
}

  .bkdp_saturate\(180\%\)_blur\(20px\) {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

  .jc_space-between {
    justify-content: space-between;
}

  .flex-d_row {
    flex-direction: row;
}

  .c_gray\.100 {
    color: var(--colors-gray-100);
}

  .c_rgba\(255\,_255\,_255\,_0\.56\) {
    color: rgba(255, 255, 255, 0.56);
}

  .z_20 {
    z-index: 20;
}

  .bg-c_\#1d1d1f {
    background-color: #1d1d1f;
}

  .fw_normal {
    font-weight: var(--font-weights-normal);
}

  .d_none {
    display: none;
}

  .c_\#F5F5F7 {
    color: #F5F5F7;
}

  .as_flex-end {
    align-self: flex-end;
}

  .z_1 {
    z-index: 1;
}

  .c_black {
    color: var(--colors-black);
}

  .fs_2xl {
    font-size: var(--font-sizes-2xl);
}

  .obj-f_contain {
    object-fit: contain;
}

  .obj-f_cover {
    object-fit: cover;
}

  .obj-p_center {
    object-position: center;
}

  .color-scheme_orange {
    color-scheme: orange;
}

  .flex-wrap_wrap {
    flex-wrap: wrap;
}

  .fade_300 {
    fade: 300px;
}

  .swipe_200 {
    swipe: 200px;
}

  .max-zoom-pixel-ratio_3 {
    max-zoom-pixel-ratio: 3px;
}

  .zoom-in-multiplier_2 {
    zoom-in-multiplier: 2px;
}

  .double-tap-delay_300 {
    double-tap-delay: 300px;
}

  .double-click-delay_300 {
    double-click-delay: 300px;
}

  .double-click-max-stops_2 {
    double-click-max-stops: 2px;
}

  .keyboard-move-distance_50 {
    keyboard-move-distance: 50px;
}

  .wheel-zoom-distance-factor_100 {
    wheel-zoom-distance-factor: 100px;
}

  .pinch-zoom-distance-factor_100 {
    pinch-zoom-distance-factor: 100px;
}

  .scroll-to-zoom_true {
    scroll-to-zoom: true;
}

  .grid-tc_1fr {
    grid-template-columns: 1fr;
}

  .op_0\.9 {
    opacity: 0.9;
}

  .trf_rotate\(4deg\) {
    transform: rotate(4deg);
}

  .obj-p_top {
    object-position: top;
}

  .color-scheme_blackAlpha {
    color-scheme: blackAlpha;
}

  .bg-c_transparent {
    background-color: var(--colors-transparent);
}

  .c_gray\.400 {
    color: var(--colors-gray-400);
}

  .c_gray\.500 {
    color: var(--colors-gray-500);
}

  .fs_14px {
    font-size: 14px;
}

  .bg-c_red\.500 {
    background-color: var(--colors-red-500);
}

  .fs_8px {
    font-size: 8px;
}

  .z_2 {
    z-index: 2;
}

  .flex-sh_0 {
    flex-shrink: 0;
}

  .bg-c_rgba\(0\,_0\,_0\,_0\.7\) {
    background-color: rgba(0, 0, 0, 0.7);
}

  .bg-c_rgba\(255\,_255\,_255\,_0\.05\) {
    background-color: rgba(255, 255, 255, 0.05);
}

  .ai_stretch {
    align-items: stretch;
}

  .c_gray\.300 {
    color: var(--colors-gray-300);
}

  .c_red\.400 {
    color: var(--colors-red-400);
}

  .grid-tc_repeat\(3\,_1fr\) {
    grid-template-columns: repeat(3, 1fr);
}

  .grid-tr_auto_1fr {
    grid-template-rows: auto 1fr;
}

  .bd-be-w_var\(--thickness\) {
    border-block-end-width: var(--thickness);
}

  .color-scheme_blue {
    color-scheme: blue;
}

  .jc_flex-start {
    justify-content: flex-start;
}

  .fs_xs {
    font-size: var(--font-sizes-xs);
}

  .color-scheme_red {
    color-scheme: red;
}

  .c_red\.300 {
    color: var(--colors-red-300);
}

  .op_0\.8 {
    opacity: 0.8;
}

  .color-scheme_gray {
    color-scheme: gray;
}

  .bg-s_cover {
    background-size: cover;
}

  .pos_sticky {
    position: sticky;
}

  .z_3 {
    z-index: 3;
}

  .ff_creamfont {
    font-family: creamfont;
}

  .lh_1\.5 {
    line-height: 1.5;
}

  .bg-s_auto_auto\,_calc\(3_\/_16_\*_1rem\)_calc\(3_\/_16_\*_1rem\) {
    background-size: auto auto, calc(3 / 16 * 1rem) calc(3 / 16 * 1rem);
}

  .bg-i_linear-gradient\(to_bottom\,hsl\(72deg_5\%_5\%_\/_0\.5\)_0\%\,_hsl\(72deg_5\%_5\%_\/_0\)_100\%\)\,_radial-gradient\(_rgb\(75\,_76\,_71\)_25\%\,_transparent_25\%_\) {
    background-image: linear-gradient(to bottom,hsl(72deg 5% 5% / 0.5) 0%, hsl(72deg 5% 5% / 0) 100%), radial-gradient( rgb(75, 76, 71) 25%, transparent 25% );
}

  .msk-i_linear-gradient\(to_bottom\,\#000\,50\%\,transparent\) {
    mask-image: linear-gradient(to bottom,#000,50%,transparent);
    -webkit-mask-image: linear-gradient(to bottom,#000,50%,transparent);
}

  .filter_drop-shadow\(5px_5px_15px_\#000\) {
    filter: drop-shadow(5px 5px 15px #000);
}

  .d_block {
    display: block;
}

  .tsh_2px_2px_4px_rgba\(0\,0\,0\,0\.3\) {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

  .z_0 {
    z-index: 0;
}

  .bg-c_white {
    background-color: var(--colors-white);
}

  .z_6 {
    z-index: 6;
}

  .z_8 {
    z-index: 8;
}

  .trf-o_bottom_right {
    transform-origin: bottom right;
}

  .z_9 {
    z-index: 9;
}

  .trf-o_bottom_left {
    transform-origin: bottom left;
}

  .bg-c_rgb\(130\,_186\,_255\) {
    background-color: rgb(130, 186, 255);
}

  .fw_600 {
    font-weight: 600;
}

  .c_blue\.300 {
    color: var(--colors-blue-300);
}

  .fs_0\.875rem {
    font-size: 0.875rem;
}

  .c_inherit {
    color: inherit;
}

  .d_inline-block {
    display: inline-block;
}

  .clip_rect\(0\,_0\,_0\,_0\) {
    clip: rect(0, 0, 0, 0);
}

  .white-space_nowrap {
    white-space: nowrap;
}

  .trf_translateX\(1\.25rem\) {
    transform: translateX(1.25rem);
}

  .trf_translateX\(0\) {
    transform: translateX(0);
}

  .z_30 {
    z-index: 30;
}

  .trf_translateX\(-100\%\) {
    transform: translateX(-100%);
}

  .z_31 {
    z-index: 31;
}

  .bx-sh_0_0_30px_rgba\(0\,_0\,_0\,_0\.45\) {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
}

  .z_40 {
    z-index: 40;
}

  .w_100\% {
    width: 100%;
}

  .mb_4 {
    margin-bottom: var(--spacing-4);
}

  .min-h_100vh {
    min-height: 100vh;
}

  .pl_4 {
    padding-left: var(--spacing-4);
}

  .max-w_720px {
    max-width: 720px;
}

  .pt_88px {
    padding-top: 88px;
}

  .pb_120px {
    padding-bottom: 120px;
}

  .mb_16 {
    margin-bottom: var(--spacing-16);
}

  .w_130 {
    width: 130px;
}

  .h_130 {
    height: 130px;
}

  .max-w_520px {
    max-width: 520px;
}

  .mb_1 {
    margin-bottom: var(--spacing-1);
}

  .pl_1\.5rem {
    padding-left: 1.5rem;
}

  .mt_2 {
    margin-top: var(--spacing-2);
}

  .h_100\% {
    height: 100%;
}

  .w_100vw {
    width: 100vw;
}

  .h_100vh {
    height: 100vh;
}

  .w_100px {
    width: 100px;
}

  .h_100 {
    height: 100px;
}

  .w_100 {
    width: 100px;
}

  .w_85vw {
    width: 85vw;
}

  .mb_30px {
    margin-bottom: 30px;
}

  .max-w_300px {
    max-width: 300px;
}

  .max-w_container\.xl {
    max-width: var(--sizes-container-xl);
}

  .mb_12 {
    margin-bottom: var(--spacing-12);
}

  .max-w_2xl {
    max-width: var(--sizes-2xl);
}

  .pb_40px {
    padding-bottom: 40px;
}

  .pt_128px {
    padding-top: 128px;
}

  .h_0 {
    height: var(--sizes-0);
}

  .pb_56\.25\% {
    padding-bottom: 56.25%;
}

  .mr_1 {
    margin-right: var(--spacing-1);
}

  .top_0 {
    top: var(--spacing-0);
}

  .left_0 {
    left: var(--spacing-0);
}

  .top_44px {
    top: 44px;
}

  .h_52px {
    height: 52px;
}

  .max-w_width\.section {
    max-width: var(--sizes-width-section);
}

  .h_44px {
    height: 44px;
}

  .h_20px {
    height: 20px;
}

  .pt_20px {
    padding-top: 20px;
}

  .pb_60px {
    padding-bottom: 60px;
}

  .w_80px {
    width: 80px;
}

  .h_80px {
    height: 80px;
}

  .mb_20px {
    margin-bottom: 20px;
}

  .mt_8px {
    margin-top: 8px;
}

  .h_300px {
    height: 300px;
}

  .bottom_16px {
    bottom: 16px;
}

  .right_16px {
    right: 16px;
}

  .w_60px {
    width: 60px;
}

  .w_50\% {
    width: 50%;
}

  .mt_20px {
    margin-top: 20px;
}

  .h_60vh {
    height: 60vh;
}

  .w_50px {
    width: 50px;
}

  .h_50px {
    height: 50px;
}

  .w_95vw {
    width: 95vw;
}

  .h_80vh {
    height: 80vh;
}

  .mt_4 {
    margin-top: var(--spacing-4);
}

  .mb_40px {
    margin-bottom: 40px;
}

  .top_2px {
    top: 2px;
}

  .right_2px {
    right: 2px;
}

  .w_383px {
    width: 383px;
}

  .h_510px {
    height: 510px;
}

  .min-h_0 {
    min-height: var(--sizes-0);
}

  .right_0 {
    right: var(--spacing-0);
}

  .bottom_0 {
    bottom: var(--spacing-0);
}

  .min-w_0 {
    min-width: var(--sizes-0);
}

  .h_400px {
    height: 400px;
}

  .h_170px {
    height: 170px;
}

  .h_430px {
    height: 430px;
}

  .pb_2 {
    padding-bottom: var(--spacing-2);
}

  .pt_0 {
    padding-top: var(--spacing-0);
}

  .w_383 {
    width: 383px;
}

  .h_510 {
    height: 510px;
}

  .h_170 {
    height: 170px;
}

  .mb_8px {
    margin-bottom: 8px;
}

  .max-w_800px {
    max-width: 800px;
}

  .mb_6 {
    margin-bottom: var(--spacing-6);
}

  .mr_3 {
    margin-right: var(--spacing-3);
}

  .ml_3 {
    margin-left: var(--spacing-3);
}

  .h_450vh {
    height: 450vh;
}

  .h_200vh {
    height: 200vh;
}

  .top_200vh {
    top: 200vh;
}

  .h_auto {
    height: auto;
}

  .mb_50px {
    margin-bottom: 50px;
}

  .min-h_30px {
    min-height: 30px;
}

  .w_23vw {
    width: 23vw;
}

  .max-w_700px {
    max-width: 700px;
}

  .top_50vh {
    top: 50vh;
}

  .h_2px {
    height: 2px;
}

  .left_50\% {
    left: 50%;
}

  .w_20px {
    width: 20px;
}

  .h_25px {
    height: 25px;
}

  .bottom_50vh {
    bottom: 50vh;
}

  .w_2px {
    width: 2px;
}

  .bottom_calc\(50vh_\+_55px\) {
    bottom: calc(50vh + 55px);
}

  .left_calc\(50\%_-_32px\) {
    left: calc(50% - 32px);
}

  .w_30px {
    width: 30px;
}

  .h_12px {
    height: 12px;
}

  .right_calc\(50\%_-_32px\) {
    right: calc(50% - 32px);
}

  .w_4px {
    width: 4px;
}

  .h_4px {
    height: 4px;
}

  .min-h_2\.5rem {
    min-height: 2.5rem;
}

  .min-h_2rem {
    min-height: 2rem;
}

  .w_2rem {
    width: 2rem;
}

  .h_2rem {
    height: 2rem;
}

  .w_3rem {
    width: 3rem;
}

  .h_3rem {
    height: 3rem;
}

  .bd-t-c_rgb\(156\,_163\,_175\) {
    border-top-color: rgb(156, 163, 175);
}

  .w_2\.75rem {
    width: 2.75rem;
}

  .h_1\.5rem {
    height: 1.5rem;
}

  .w_1px {
    width: 1px;
}

  .h_1px {
    height: 1px;
}

  .left_0\.1875rem {
    left: 0.1875rem;
}

  .w_1\.125rem {
    width: 1.125rem;
}

  .h_1\.125rem {
    height: 1.125rem;
}

  .w_min\(20rem\,_84vw\) {
    width: min(20rem, 84vw);
}

  .before\:bg_repeating-linear-gradient\(0deg\,_transparent\,_transparent_50px\,_rgba\(100\,_100\,_100\,_0\.1\)_50px\,_rgba\(100\,_100\,_100\,_0\.1\)_51px\)\,_repeating-linear-gradient\(60deg\,_transparent\,_transparent_50px\,_rgba\(100\,_100\,_100\,_0\.1\)_50px\,_rgba\(100\,_100\,_100\,_0\.1\)_51px\)\,_repeating-linear-gradient\(120deg\,_transparent\,_transparent_50px\,_rgba\(100\,_100\,_100\,_0\.1\)_50px\,_rgba\(100\,_100\,_100\,_0\.1\)_51px\)::before {
    background: repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(100, 100, 100, 0.1) 50px, rgba(100, 100, 100, 0.1) 51px), repeating-linear-gradient(60deg, transparent, transparent 50px, rgba(100, 100, 100, 0.1) 50px, rgba(100, 100, 100, 0.1) 51px), repeating-linear-gradient(120deg, transparent, transparent 50px, rgba(100, 100, 100, 0.1) 50px, rgba(100, 100, 100, 0.1) 51px);
}

  .before\:bd_1px_solid_white::before {
    border: 1px solid white;
}

  .after\:bg-p_right_10\%_top_10\%::after {
    background-position: right 10% top 10%;
}

  .before\:bdr_50\%_50\%_50\%_50\%_\/_60\%_60\%_40\%_40\%::before {
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

  .before\:content_\"\"::before {
    content: "";
}

  .before\:pos_absolute::before {
    position: absolute;
}

  .before\:bg-s_100\%_100\%::before {
    background-size: 100% 100%;
}

  .before\:bg-a_fixed::before {
    background-attachment: fixed;
}

  .before\:op_0\.8::before {
    opacity: 0.8;
}

  .before\:z_0::before {
    z-index: 0;
}

  .after\:content_\"\"::after {
    content: "";
}

  .after\:pos_absolute::after {
    position: absolute;
}

  .after\:bg-a_fixed::after {
    background-attachment: fixed;
}

  .after\:bg-i_url\(\/assets\/about\/main_1\.png\)::after {
    background-image: url(/assets/about/main_1.png);
}

  .after\:bg-r_no-repeat::after {
    background-repeat: no-repeat;
}

  .after\:bg-s_70vh::after {
    background-size: 70vh;
}

  .after\:op_0\.2::after {
    opacity: 0.2;
}

  .after\:z_0::after {
    z-index: 0;
}

  .before\:trf_translateX\(-50\%\)::before {
    transform: translateX(-50%);
}

  .after\:bg-c_white::after {
    background-color: var(--colors-white);
}

  .after\:trf_translateY\(-50\%\)::after {
    transform: translateY(-50%);
}

  .disabled\:cursor_not-allowed:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    cursor: not-allowed;
}

  .disabled\:op_0\.5:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
    opacity: 0.5;
}

  .before\:top_0::before {
    top: var(--spacing-0);
}

  .before\:left_0::before {
    left: var(--spacing-0);
}

  .before\:right_0::before {
    right: var(--spacing-0);
}

  .before\:bottom_0::before {
    bottom: var(--spacing-0);
}

  .after\:top_0::after {
    top: var(--spacing-0);
}

  .after\:left_0::after {
    left: var(--spacing-0);
}

  .after\:right_0::after {
    right: var(--spacing-0);
}

  .after\:bottom_0::after {
    bottom: var(--spacing-0);
}

  .before\:top_4px::before {
    top: 4px;
}

  .before\:left_50\%::before {
    left: 50%;
}

  .before\:w_8px::before {
    width: 8px;
}

  .before\:h_12px::before {
    height: 12px;
}

  .after\:top_50\%::after {
    top: 50%;
}

  .after\:left_15\%::after {
    left: 15%;
}

  .after\:right_15\%::after {
    right: 15%;
}

  .after\:h_1px::after {
    height: 1px;
}

  .hover\:bg_gray\.50:is(:hover, [data-hover]) {
    background: var(--colors-gray-50);
}

  .hover\:bg_gray\.800:is(:hover, [data-hover]) {
    background: var(--colors-gray-800);
}

  .hover\:bg_\#c57835:is(:hover, [data-hover]) {
    background: #c57835;
}

  .hover\:bg_red\.500:is(:hover, [data-hover]) {
    background: var(--colors-red-500);
}

  .hover\:bg_blue\.500:is(:hover, [data-hover]) {
    background: var(--colors-blue-500);
}

  .hover\:bg_rgba\(255\,_255\,_255\,_0\.12\):is(:hover, [data-hover]) {
    background: rgba(255, 255, 255, 0.12);
}

  .hover\:td_none:is(:hover, [data-hover]) {
    text-decoration: none;
}

  .hover\:trf_translateY\(-4px\):is(:hover, [data-hover]) {
    transform: translateY(-4px);
}

  .hover\:bx-sh_lg:is(:hover, [data-hover]) {
    box-shadow: var(--shadows-lg);
}

  .hover\:c_blue\.600:is(:hover, [data-hover]) {
    color: var(--colors-blue-600);
}

  .hover\:c_gray\.100:is(:hover, [data-hover]) {
    color: var(--colors-gray-100);
}

  .hover\:trf_scale\(1\.05\):is(:hover, [data-hover]) {
    transform: scale(1.05);
}

  .hover\:bg-c_blue\.500:is(:hover, [data-hover]) {
    background-color: var(--colors-blue-500);
}

  .hover\:c_white:is(:hover, [data-hover]) {
    color: var(--colors-white);
}

  .hover\:filter_brightness\(1\.3\):is(:hover, [data-hover]) {
    filter: brightness(1.3);
}

  .hover\:filter_brightness\(1\.05\):is(:hover, [data-hover]) {
    filter: brightness(1.05);
}

  .active\:filter_brightness\(1\.5\):is(:active, [data-active]) {
    filter: brightness(1.5);
}

  @media screen and (min-width: 48rem) {
    .md\:px_20px {
      padding-inline: 20px;
}
    .md\:px_6 {
      padding-inline: var(--spacing-6);
}
    .md\:px_40px {
      padding-inline: 40px;
}
    .md\:gap_12 {
      gap: var(--spacing-12);
}
    .md\:my_150px {
      margin-block: 150px;
}
    .md\:my_50px {
      margin-block: 50px;
}
    .md\:mx_40px {
      margin-inline: 40px;
}
    .md\:fs_xl {
      font-size: var(--font-sizes-xl);
}
    .md\:fs_4xl {
      font-size: var(--font-sizes-4xl);
}
    .md\:fs_lg {
      font-size: var(--font-sizes-lg);
}
    .md\:size_130px {
      width: 130px;
      height: 130px;
}
    .md\:fs_md {
      font-size: var(--font-sizes-md);
}
    .md\:grid-tc_repeat\(2\,_minmax\(0\,_1fr\)\) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
}
    .md\:fs_3rem {
      font-size: 3rem;
}
    .md\:d_flex {
      display: flex;
}
    .md\:d_none {
      display: none;
}
    .md\:d_block {
      display: block;
}
    .md\:fs_3xl {
      font-size: var(--font-sizes-3xl);
}
    .md\:grid-tc_1fr_1fr {
      grid-template-columns: 1fr 1fr;
}
    .md\:flex-d_row {
      flex-direction: row;
}
    .md\:w_50vw {
      width: 50vw;
}
    .md\:w_100px {
      width: 100px;
}
    .md\:h_100px {
      height: 100px;
}
    .md\:h_650px {
      height: 650px;
}
    .md\:w_80px {
      width: 80px;
}
    .md\:h_70vh {
      height: 70vh;
}
    .md\:w_70px {
      width: 70px;
}
    .md\:h_70px {
      height: 70px;
}
    .md\:w_60vw {
      width: 60vw;
}
    .md\:w_6vw {
      width: 6vw;
}
    .after\:md\:bg-p_right_0\%_top_10\%::after {
      background-position: right 0% top 10%;
}
}

  @media screen and (min-width: 62rem) {
    .lg\:px_8 {
      padding-inline: var(--spacing-8);
}
    .lg\:px_60px {
      padding-inline: 60px;
}
    .lg\:mx_60px {
      margin-inline: 60px;
}
    .lg\:flex-d_row {
      flex-direction: row;
}
    .lg\:grid-tc_repeat\(3\,_minmax\(0\,_1fr\)\) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
}
    .lg\:fs_4xl {
      font-size: var(--font-sizes-4xl);
}
    .lg\:fs_5xl {
      font-size: var(--font-sizes-5xl);
}
    .lg\:w_120px {
      width: 120px;
}
    .lg\:h_120px {
      height: 120px;
}
    .lg\:w_400px {
      width: 400px;
}
    .lg\:h_600px {
      height: 600px;
}
}

  @media screen and (min-width: 80rem) {
    .after\:xl\:bg-p_right_10\%_top_10\%::after {
      background-position: right 10% top 10%;
}
}
}